body {
  font-family: font-family:'Lato', serif;;
  
}
hr.dotted{
  border-top: 3px dotted #bbb;

}
.about-section {
  text-align: center;
  background-color: rgb(93, 71, 77);
  color: white;
  padding: 50px;
}

.services {
  text-align: center;
  
}
.child {
  align-items: center;
  display: flex;
}
.planning {
  text-align: center;
  

}
.tour{
text-align:center;
}

.clients{
  text-align: center;
}