* {
  font-family: "Montserrat", sans-serif;
}
hr.dotted {
  border-top: 3px dotted #bbb;
}
body {
  padding-top: 60px;
}
nav {
  background: #ddaf8c;
  width: 100%;
  text-align: right;
  padding-bottom: 0.2%;
  cursor: pointer;
}
.nav-item a:hover {
  -webkit-text-stroke: 1px white;
  color: transparent;
}

.nav_menu {
  list-style: none;
  display: flex;
  margin-left: 70px;
}
.nav_menu a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-weight: 500px;
  padding: 1rem;
  padding-right: 4rem;
}

.nav__checkbox {
  display: none;
}
.nav-link {
  color: black;
}

.close {
  display: none;
}
.menu {
  margin-top: 0.2rem;
  margin-right: 3rem;
}

.column1 {
  background-color: #eee;
  height: 580px;
}

.column1 h2 {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.children {
  margin-left: 100px;
  padding-bottom: 20px;
  padding-top: 5%;
}

.column1 .booking-form-box {
  max-width: 350px;
  border: 1px solid #ce9366;
  margin-left: 1300px;
  margin-top: -12%;
}

.radio-btn {
  margin: 0 20px;
}
.radio-btn .btn {
  margin: 20px 10px 20px 0;
  box-shadow: none;
}
.radio-btn .btn::after {
  content: " ";
  height: 15px;
  width: 15px;
  top: -2px;
  left: -1px;
  background-color: white;
  position: relative;
  display: inline-block;
  border: 3px solid #c08761;
  visibility: visible;
  border-radius: 50%;
}

.radio-btn .btn:checked::after {
  content: " ";
  background-color: black;
}
.radio-btn span {
  color: black;
  margin-right: 5px;
  font-size: 15px;
}

.booking-form .btn a {
  background-color: #ce9366;
  margin-top: 10px;
  margin-left: 100px;
  color: black;
  padding: 0.4rem;
  padding-right: 1rem;
}

.row1 h2 {
  margin-top: 5%;
  font-size: 100px;
  margin-left: 100px;
  margin-right: 50%;
}
.row1 p {
  margin-left: 100px;
  margin-right: 50%;
  font-size: 20px;
}

.row1 h1 {
  padding-top: 60px;
  margin-bottom: 30px;
  margin-left: 100px;
}

.card-img {
  max-width: 100%;
  object-fit: cover;
  height: 300px;
  width: 70%;
  border-radius: 10px;
  margin-left: 20px;
}
.location-grid p {
  margin-left: 20px;
}
.container1 {
  height: 300px;
  top: 60px;
  left: calc(50% - 300px);
  display: flex;
  margin-left: 20px;
}

.card {
  height: 380px;
  width: 400px;
  background-color: #070212;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #eee;
  transition: 0.4s ease-out;
  position: left;
  left: 0px;
  right: 0px;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  text-shadow: 4px 4px 4px black;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #ddaf8c;
  width: 150%;
  height: 100%;
}

.filledbar {
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0, 154, 217);
  background: linear-gradient(
    90deg,
    rgba(0, 154, 217, 1) 0%,
    rgba(217, 147, 0, 1) 65%,
    rgba(255, 186, 0, 1) 100%
  );
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #09060f;

  stroke-width: 10px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}
.card img {
  object-fit: cover;
  height: 100%;
}
.footer {
  padding: 20px;
  background-color: #ddaf8c;
  padding: 80px 5%;
  display: flex;
  margin-top: 100px;
}
.column2 {
  flex-grow: 1;
}
.column2 h3 {
  text-align: left;
}

.footer div h3 {
  font-weight: 800;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.columnn1 p {
  font-size: 20px;
  max-width: 600px;
  padding-right: 200px;
}

.columnn1 a {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
}

.columnn1 a:hover {
  -webkit-text-stroke: 1px white;
  color: transparent;
}

.newsletter-btn {
  background: transparent;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 20px;
}

.socialicons {
  margin-top: 30px;
}
.socialicons i {
  font-size: 32px;
  margin: 10px;
}
.empty {
  padding: 50px;
  background-color: white;
  padding-left: 300px;
}

.newsletter input {
  width: 300px;
  height: 45px;
  border-radius: 4px;
  margin-top: 20px;
  border: none;
  font-size: 20px;
}
.newsletter-btn {
  background: rgb(190, 150, 114);

  border-radius: 10px;
  font-size: 20px;
}

.newsletter-btn:hover {
  -webkit-text-stroke: 1px white;
  color: transparent;
}

#hiddenMessage {
  color: white;
  font-size: 30px;
  font-weight: 600;
}
footer {
  display: block;
}

@media screen and (min-width: 300px) and (max-width: 800px) {
  .navbar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    font-size: 1rem;
    display: none;
  }

  .emptybar {
    height: 100%;
    width: 50%;
  }

  .column1 {
    height: 70rem;
  }
  .column1 h2 {
    font-size: 50px;
    margin-left: 7%;
    text-align: left;
    width: 300px;
    margin-top: 40%;
  }
  .column1 p {
    width: 250px;
    margin-left: 7%;
  }
  .columnn1 a:hover {
    -webkit-text-stroke: 1px white;
    color: transparent;
  }

  .booking-form-box {
    max-width: 100%;
    position: absolute;
    margin-left: 0%;
  }
  .column1 .booking-form-box {
    margin-left: 7%;
    margin-top: 4%;
  }
  .row1 h1 {
    margin-left: 7%;
  }
  .location-grid {
    margin-right: 15px;
    padding-left: 10px;
  }
  .footer {
    display: block;
  }
  #hiddenMessage {
    font-size: 20px;
    color: white;
  }
  .container1 {
    margin-left: 7%;
  }
  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
  .card:hover .stroke {
    stroke-dashoffset: 200;
    transition: 0.6s ease-out;
  }
}
