.jumbotron {
    background-color: aqua;
    color: #FFF
    border-radius: 0px;
    }

    .jumbotron-sm {
    padding-top: 24px;
    padding-bottom: 24px; 
}

    .jumbotron small {
    color:#717170;
    }
    .h1 small {
    font-size: 24px;
    }

    .contact {
        color: #717171;
    }

    .responsive {
        width: 100%;
        height: auto;
    }

    .navbar-toggler{ 	
      align-items: left;
  } 

  .nav-link {
    color: black;
  }
  
    .logo {
      font-size: 60px;
      padding-right: 90%;
      padding-left: 5%;
    }
    nav {
      background: #ddaf8c;
      width: 100%;
      text-align: right;
      padding-bottom: 0.2%;
    }
    nav ul li {
      list-style: none;
      display: inline;
    }
    nav ul li a {
      float:inline-start;
      text-decoration: none;
      color: black;
      font-size: 17px;
      font-weight: 500px;
      margin-right: 100px;
    }
    nav ul li a:hover {
      -webkit-text-stroke: 1px white;
      color: transparent;
    }

    .footer {
      padding: 20px;
      background-color: #ddaf8c;
      padding: 80px 5%;
      display: flex;
      margin-top: 1%;
    }
    
    .column2 {
      flex-grow: 1;
      padding-left: 5%;
    }
    .column2 h3 {
      text-align: left;
    }
    
    .footer div h3 {
      font-weight: 800;
      margin-bottom: 10px;
      letter-spacing: 1px;
    }
    
    .column1 {
      padding-left: 5%;
    }

    .column1 p {
      font-size: 20px;
      max-width: 600px;
      padding-right: 200px;
      word-wrap:initial;
    }
    
    .column1 a {
      display: block;
      text-decoration: none;
      color: black;
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 20px;
    }

    .links a {
     display:inline;
    }

    .column1 a:hover {
      -webkit-text-stroke: 1px white;
      color: transparent;
    }
    .newsletter input {
      width: 300px;
      height: 45px;
      border-radius: 4px;
      margin-top: 20px;
      border: none;
      font-size: 20px;
    }
    .newsletter-btn {
      background: rgb(190, 150, 114);
    
      border-radius: 10px;
      font-size: 20px;
    }
    
    .newsletter-btn:hover {
      -webkit-text-stroke: 1px white;
      color: transparent;
    }
    .socialicons {
      margin-top: 30px;
    }

    .column3 {
      padding-left: 5%;
    }
    .socialicons i {
      font-size: 32px;
      margin: 10px;
      display: inline-block;
    }
    
    #hiddenMessage {
      color: white;
      font-size: 30px;
      font-weight: 600;
    }
    @media only screen and (min-width: 300px) and (max-width: 800px) {
      .nav_menu {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
        margin: 2 rem;
        font-size: 1.2rem;
        display: none;
      }
    
      input[type="checkbox"]:checked ~ .nav_menu {
        display: block;
      }
    
      .about-section h1 {
        font-size: 40px;
      }
    
      .services {
        font-size: 30px;
      }
      .child {
        display: block;
      }
      .activity {
        max-width: 100%;
        text-align: left;
      }
      .footer {
        display: block;
      }
      .column1 p {
        padding-right: 20px;
    
        height: 300px;
      }
      form input {
        width: 240px;
      }
      #hiddenMessage {
        font-size: 20px;
      }
    }
